<div *ngIf="isShow()">
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
<!--    <a class="navbar-brand" [routerLink]="'.'">Responsive navbar</a>-->

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="nav navbar-nav nav-tabs">
        <li class="nav-item active">
          <!-- Step 4: Close the menu when a link is clicked. -->
          <a class="nav-link" [routerLink]="routeLinkCompetitionList()" (click)="isMenuCollapsed = true">Giải đấu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Examples</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">About</a>
        </li>
        <li class="nav-item navbar-right">
          <app-account-info></app-account-info>
        </li>
      </ul>
<!--      <ul class="nav navbar-nav navbar-right">-->
<!--        <app-account-info></app-account-info>-->
<!--        <li class="nav-item active">-->
<!--          &lt;!&ndash; Step 4: Close the menu when a link is clicked. &ndash;&gt;-->
<!--          <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Logout</a>-->
<!--        </li>-->
<!--      </ul>-->
    </div>
  </div>
</nav>
</div>
