<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <h3 class="mt-3 mb-3 text-center">Đăng nhập</h3>

        <form (ngSubmit)="login()" #loginForm="ngForm" class="needs-validation"
              [class.was-validated]="isFormSubmitted">
          <div class="mb-3">
            <label for="username" class="form-label">Tên đăng nhập*</label>
            <input name="username" type="text" class="form-control" id="username" [(ngModel)]="username"
                   required #uname="ngModel"/>
            <div *ngIf="uname.errors?.['required']" class="invalid-feedback">
              Tên đăng nhập không hợp lệ
            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Mật khẩu*</label>
            <input id="password" name="password" type="password" class="form-control" [(ngModel)]="password"
                   required #pass="ngModel"/>
            <div *ngIf="pass.errors?.['required']" class="invalid-feedback">
              Mật khẩu không hợp lệ
            </div>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
          </div>
          <div class="text-center">Bạn chưa có tài khoản? <a [routerLink]="routeLinkRegister()">Đăng ký</a></div>
        </form>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
