<div class="modal-header">
  <h4 class="modal-title">Thông tin tài khoản</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <table class="table table-borderless">
    <tbody>
    <tr>
      <td>Họ tên:</td>
      <td>{{accountInfo.fullName}}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{accountInfo.email}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="activeModal.close('Close click')">Thoát</button>
</div>
