<div class="container-fluid">
  <table class="table table-hover">
    <tbody>
    <tr>
      <th>Thời gian</th>
      <th>Trận đấu</th>
      <th>Kết quả</th>
    </tr>
    <tr *ngFor="let match of this.matches" [routerLink]="routeLinkMatchDetail(match.id)" role="button">
      <td>
        <div>{{match.matchDate}}</div>
        <div>{{match.kickOff}}</div>
      </td>
      <td>
        <div>{{match.homeTeam.name}}</div>
        <div>{{match.awayTeam.name}}</div>
      </td>
      <td>
        <div>{{match.homeScore}}</div>
        <div>{{match.awayScore}}</div>
      </td>
    </tr>
    </tbody>
  </table>

<!--  <div *ngIf="competition">{{competition.name}}</div>-->
<!--  <div *ngIf="season">{{season.name||''}}</div>-->
</div>
