<div class="container-fluid">
  <table class="table table-hover">
    <tbody>
    <tr>
      <th>Thời gian</th>
      <th>Đội bóng</th>
      <th>Kết quả</th>
    </tr>
    <tr *ngFor="let match of this.matches">
      <td>
        <div>{{match.matchDate}}</div>
        <div>{{match.kickoff}}</div>
      </td>
      <td>
        <div>{{match.homeTeamName}}</div>
        <div>{{match.awayTeamName}}</div>
      </td>
      <td>
        <div>{{match.homeScore}}</div>
        <div>{{match.awayScore}}</div>
      </td>
    </tr>
    </tbody>
  </table>

<!--  <div *ngIf="competition">{{competition.name}}</div>-->
<!--  <div *ngIf="season">{{season.name||''}}</div>-->
</div>
