<div class="container-fluid">
  <button *ngIf="this.filterTeam" type="button" class="close mb-3" aria-label="Close"
  (click)="clearFilterTeam()">
    {{this.filterTeam.name}}
    <span aria-hidden="true">&times;</span>
  </button>
  <table class="table table-hover">
    <tbody>
    <tr>
      <th>STT</th>
      <th>Thời gian</th>
      <th>Trận đấu</th>
      <th>Kết quả</th>
      <th></th>
    </tr>
    <tr *ngFor="let match of this.pagingMatches.data; let i = index">
      <td>
        {{(this.pagingMatches.page - 1) * this.pagingMatches.pageSize + i + 1}}
      </td>
      <td>
        <div>{{match.matchDate}}</div>
        <div>{{match.kickOff}}</div>
      </td>
      <td>
        <div class="link-primary" role="button" (click)="clickOnTeam(match.homeTeam)">{{match.homeTeam.name}}</div>
        <div class="link-primary" role="button" (click)="clickOnTeam(match.awayTeam)">{{match.awayTeam.name}}</div>
      </td>
      <td>
        <div>{{match.homeScore}}</div>
        <div>{{match.awayScore}}</div>
      </td>
      <td>
        <div class="link-primary" role="button" [routerLink]="routeLinkMatchDetail(match.id)">Chi tiết</div>
      </td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination
    [collectionSize]="this.pagingMatches.totalElements"
    [(page)]="this.pagingMatches.page"
    [maxSize]="this.pagingMatches.pageSize"
    [rotate]="false"
    [boundaryLinks]="true"
    (pageChange)="getMatches()"
  ></ngb-pagination>

<!--  <div *ngIf="competition">{{competition.name}}</div>-->
<!--  <div *ngIf="season">{{season.name||''}}</div>-->
</div>
